node_modules
# Keep environment variables out of version control
.env

/generated/prisma
*.db
*.sqlite
*.sqlite-journal

# ALOW the main dev.db to be tracked so Render has data immediately
!prisma/dev.db
